<section class="favorites">
    <h2 class="favorites">
        <ul class="favorites-list">
            <li class="favorites-item">Hello <img src="/img/favorites/jason-leung-poI7D.jpg" width="150" alt="favorites">

            </li>
            <li class="favorites-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit totam veniam
                et, dolorem molestias blanditiis dolore omnis est ipsam deleniti, incidunt obcaecati molestiae officiis
                debitis eum, placeat voluptatem autem odit?
                <img src="/img/favorites/Mask Group.jpg" width="150" alt="favorites">

            </li>
            <li><img src="/img/favorites/mask-group-hero.jpg" width="150" alt="favorites"></li>
        </ul>
    </h2>
</section>