<section class="menu"></section>
    <div class="container">
        <h2 class="menu-p">Our Favorites</h2>
        <ul class="favorites-list">
                <li class="favorites-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit totam veniam
                et, dolorem molestias blanditiis dolore omnis est ipsam deleniti, incidunt obcaecati molestiae officiis
                debitis eum, placeat voluptatem autem odit?
              

            </li>
            <li > Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates ipsa minus ullam perspiciatis magnam quod eum dolore, ratione quidem numquam! Amet deleniti neque quisquam minus doloremque. Animi sunt accusantium quae?</li>

        </ul>

    </div>
</section>