.container {
    width: 100%;
    margin: o auto;
    padding: 0 15px;
}
.head-morning {
    color: brown;
    font-size: 20px;
}
.head-text {
    font-size: 16px;
    color: coral;
}
.head-list {
    display: flex;
    flex-direction: column;
}
.head-list-item {
    font-size: 12px;
    color: chartreuse;
}